body {
    width: 800px;
    margin: 
}
h1 {
     font-family: Impact, fantasy;
     text-align:center;
}

.container {
       height: 500px;
       box-shadow: 0 0 5px 0 #0002;
       border-radius: ;
}

.colors {
     display:flex; 
     justify-content: space-between;
     margin-top:2em;
}

.color {
     flex: 1;
     height: 70px;
     box-shadow: 0 0 5px 0 #0002;
     border-radius: 8px;
}

.color:not(:last-child) {
    margin-right: 2em;
}
[data-color] {
    background-color: green;
}